
@media (max-width:580px) {
    
h2, h3 {
    font-size: 24px;
}

.a-more {
    font-size: 12px;
}

.a-effect {
    box-shadow: 0 3px 0 hsl(50, 100%, 50%);
}

.menu {
    display: flex;
    border-radius: 8px;
}

.link {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 25px;
    right: 25px;
    padding: 25px 45px 35px 20px;
    background-color: rgba(0, 0, 0, 0.841);
    border-radius: 8px;
    z-index: 100;
    transition: .5s;
    opacity: 1;
}

.link-show {
    top: -280px;
    transition: 1s;
    opacity: 0;
}

.link-contact {
    border: 2px solid hsl(50, 100%, 50%);
}

.link a {
    font-size: 20px;
}

.link-responsive {
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.text-cont {
    max-width: 85%;
    padding: 30px 0;
}

.info-img {
    height: 600px;
}

.break {
    height: 200px;
    padding: 0;
    display: flex;
    margin-top: 20px;
}

.break-text {
    margin: auto 0;
    padding: 15px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.782);
    text-shadow: none;
    width: auto;
}

.break-h2 {
    text-shadow: none;
}

.break a {
    text-shadow: none;
    color: #000;
    opacity: .6;
}

.friend {
    padding: 60px 15px;
    height: auto;
}

.friends {
    display: block;
}

.friends-1 {
    padding: 0 20px;
}

.form {
    height: auto;
}

.form-color {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

footer p {
    margin-top: 25px;
}

.footer-link {
    flex-direction: column-reverse;
}

.footer-link p {
    display: none;
}

.footer-link-web a {
    margin: 0 8px;
}

.footer-link-social img {
    margin: 0 8px;
}

}