
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

h2, h3 {
    font-family: 'Fraunces', serif;
    font-weight: 800;
    font-size: 35px;
}

h2 {
    font-size: 60px;
    text-shadow: 0 0 40px #000;
}

.p-margin {
    margin: 40px 0;
    color: rgb(63, 63, 63);
}

.a-more {
    text-decoration: none;
    color: #000;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #000;
    opacity: .6;
    margin-bottom: 0;
}

/*///////////
CONTENT
//////////*/

.content {
    height: 100vh;
    background-image: url(/images/11.jpg);
    background-size: cover;
    text-align: center;
    background-position: center;
}

.content-nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 0px 25px;
    vertical-align: middle;
}

.content-nav a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 10px #000;
}

.logo {
    font-size: 30px;
    font-weight: 800;
}

span {
    color: hsl(50, 100%, 50%);
}

.link {
    padding-top: 8px;
}

.link a {
    margin-left: 25px;
}

.link-contact {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    margin-left: 8px;
    background-color: rgba(0, 0, 0, 0.186);
    padding: 8px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.877);
}

.content-text {
    color: #fff;
    margin-top: 100px;
}

.content-text img {
    margin-top: 8px;
    width: 70px;
}

/*///////////
INFO
//////////*/

.info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 600px;
}

.about-img {
    background-image: url(/images/a.jpg);
    background-size: cover;
    background-position: center;
}

.project-img {
    background-image: url(/images/b.jpg);
    background-size: cover;
    background-position: center;
}

.destinations-img {
    background-image: url(/images/c.jpg);
    background-size: cover;
    background-position: center;
}

.text {
    display: flex;
    flex-direction: column;
}

.text-cont {
    max-width: 65%;
    margin: auto;
}

/*///////////
BREAK
//////////*/

.break {
    height: 500px;
    background-image: url(/images/2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px;
}

.break-text {
    width: 30%;
}

.break a {
    color: #fff;
    text-shadow: 0 0 40px #000;
    opacity: 1;
}

/*///////////
FRIENDS
//////////*/

.friend {
    text-align: center;
    padding: 80px 150px;
    height: 600px;
}

.friend h3 {
    color: rgb(123, 123, 123);
}

.friends {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.friend-from {
    margin-top: 4px;
    color: rgb(135, 135, 135);
    font-size: 12px;
}

.friends img {
    border-radius: 100%;
    margin-top: 40px;
    width: 100px;
}

/*///////////
FORM
//////////*/

.form {
    height: 600px;
    /*background-color: rgb(255, 225, 27);*/
    background-image: url(/images/33.jpg);
    background-size: cover;
    background-position: center;
}

.form-color {
    background-color: hsla(50, 100%, 50%, 0.764);    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 600px;
}

.form-form h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.form-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    color: #fff;
}

.form-form {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    color: rgb(63, 63, 63);
}

.form-form form {
    display: flex;
    flex-direction: column;
}

.form-form form input {
    margin-bottom: 10px;
    padding: 20px 8px 8px 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(125, 125, 125);
}

.form-form form button {
    margin-top: 10px;
    background-color: rgb(63, 63, 63);
    color: #fff;
    font-weight: 600;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
}

/*///////////
FOOTER
//////////*/

footer {
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 25px 25px;
    font-size: 12px;
}

.footer-link {
    display: flex;
    gap: 10px;
}

.footer-link-web a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
}

.footer-link-social img {
    width: 16px;
    margin-left: 10px;
}
